<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Aplikasi Olshop POS Course-net">
        <meta name="author" content="Aji Kowiyu">
        <title>Tokopaedi.com</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/fontawesome/css/all.css">
        <script src="/js-tambahan/popper.min.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
        <script src="/fontawesome/js/all.js"></script>
    </head>

    <body class="d-flex h-100 text-center text-bg-light fixed-top">
        <link rel="stylesheet" href="/bootstrap/css-tambahan/cover-beranda.css">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">Grocetaurant</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Beranda</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/login">Login</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/register">Register</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/auth/register">About Us</a>
                    </nav>
                </div>
            </header>
            <h1 class="mt-5">Welcome To Our Service </h1><br><br>
            <main class="px-3 d-flex">
                
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <div class="card">
                        <img src=img/restaurant.png class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="restaurant/home" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <img src=img/groceries.png class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="/grocery/home" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </main>
            <footer class="mt-auto text-white-50">
                <p>Dibuat dengan semangat pantang menyerah oleh <span class="text-white"></span></p>
            </footer>
        </div>
    </body>
</html>
